@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: "Open-sans", sans-serif;
}


.page {
    width: 1000px;
    margin: 0 auto;
    padding-top: 65px;
}

body {
    background: linear-gradient(180deg, rgba(227, 255, 248, 0.447) 80%, rgba(227, 255, 248, 0.639) 28%);
    min-height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
    
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    font-family: "Mulish", serif;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 48px;
    margin: 0;
    padding: 0;
}

a  {
    color: #1F1534;
    text-decoration: none;
}

ul li a:hover {
    font-weight: bold;
}

h1{
    
    font-family: "Mulish", serif;
    font-size: 49px;
    line-height: 56px;
    color: #000;
    font-weight: normal;
    width: 488px;
}

h1 span {
    color: #89C5CC;
    font-weight: bold;
}

p {
    margin: 40px 0px;   
    font-size: 14px;
    line-height: 28px;
    color: #7D7987;

}

button {
    display: flex;
    justify-content: center;
    width: 182px;
    height: 56px;
    align-items: center;
    border: none;
    border-radius: 5px;
    background-color: #69B99D;
    color: white;
    text-transform: uppercase;
    padding: 14px 32px 15px;
    gap: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #458a71;
}

footer {
    text-align: center;
    font-size: 14px;
    line-height: 28px;

    margin-top: 80px;
}

footer a {
    font-weight: bold;
}

#balls {
    position: fixed;
    bottom: 0;
    right: 0;
}