@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    font-family: 'Mulish';
    font-weight: 600;
    scroll-behavior: smooth;
}

main {
    min-width: 100%;
    margin: auto;
}

h1 {
    font-size: 3.2rem;
    font-weight: bolder;
    padding-top: 1.7rem;
    color: #B52184;
}

header {
    text-align: center;
    & #astronauta {
        width: clamp(36rem, 100%, 72rem);
    }
    & p {
        font-size: 2rem;
        padding-bottom: 3.5rem;
    }
    & a, img:last-child {
        margin-bottom: 10rem;
    }
}

.first-section {
    height: 124.2rem;
    background-image: linear-gradient(-20deg,#343193, #302C63);
    padding: 4rem;
}

section > div {
    background-color: #FFFFFF;
    width: 100%;
    height: 35.2rem;
    border-radius: 2rem;
    margin: 0 auto 5rem;
    padding: 2.7rem;
}

section div img {
  margin-bottom: 3rem;
}

div {
    & h2 {
        font-size: 3rem;
        font-weight: bolder;
        color: #B52184;
        margin-bottom: 1rem;
    }
    & p {
        font-size: 1.6rem;
        font-weight: 600;
        color: #312D64;
    }
}

form {
    padding: 0 4rem;
}

fieldset > div{
    display: flex;
    flex-flow: nowrap;
    gap: 2.5px;
    padding: 0 1.6rem;

    border: solid 1.5px #312D64;
    border-radius: 1.6rem;
    margin-top: 2.4rem;
}

fieldset > div:focus-within {
    outline: 1px solid #302C63 ;
}

fieldset, fieldset > input, textarea {
    border: none;
    font-size: 1.6rem;
    font-family: 'Mulish';
    border-radius: 1.6rem;
    
    & legend {
        padding-top: 7.8rem;     
        font-size: 3.2rem;
        font-weight: bolder;
        color: #B52184;
    }
    & input{
        width: 100%;
        height: 4.8rem;
        padding: 1.6rem;
        border: none;
    }
    & input:focus{
        outline: transparent;  
    }
    & textarea {
        width: 100%;
        height: 12.5rem;
        padding-top: 1.6rem;
        resize: none;
    }
    & textarea:focus {
        outline: transparent;
    }
    & input::placeholder, textarea::placeholder {
    font-size: 1.6rem;
    color: #312D64;
    }       
}

form > img {
    display: none;
}

.button {
    font-family: 'Mulish';
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
    
    border: none;
    border-radius: 1.6rem;
    margin-top: 2.4rem;
    width: 15rem;
    height: 4.5rem;

    background-image: linear-gradient(-74deg, #343193, #302C63);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.9rem;
    font-weight: 500;
    color: white;

    height: 8rem;
    margin-top: 6.5rem;

    background-image: linear-gradient(-80deg, #343193, #302C63);
}

@media (width > 768px) {
    main {
        display: grid;
        grid-template-areas:  "header header header"
        "section section section"
        "form form form"
        "footer footer footer"
        ;
    }
    header, .first-section, form, footer {
        max-width: initial;
        margin: initial;
        padding: initial;
        height: initial;
    }
    header {
        grid-area: header;
        display: grid;
        grid-template-columns: repeat(2,  1fr);
        margin: 0 3rem 0 10rem;
        justify-content: center;
        align-items: center;
        & img:first-child {
            order: 2;
            
            align-self: flex-start;
            grid-row: span 2;
            margin-bottom: 10rem;
        }
        & div {
            order: 1;
            text-align: left;
            align-self: flex-end;
            & h1 {
                font-size: 5.8rem;
            }
            & p {
                font-size: 3.2rem;
                padding-bottom: 0;
            }
        }
        & a, img:last-child {
            order: 3;
            align-self: flex-end;
            align-content: center;
            width: 8rem;
            height: auto;
        }
    }
    .first-section {
        grid-area: section;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        gap: 4rem;
        margin-bottom: 0;
        padding: 4rem 11rem;
        background-image: linear-gradient(-20deg, #343193, #302C63);
    }
    .first-section div {
        margin: 0;
    }
    
    form {
        grid-area: form;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        padding-left: 11rem;
        width: 100%;
        column-gap: 9rem;
        & fieldset {
            order: 1;
            align-self: flex-end;
            & legend {
                padding-top: 0;
            }
        }
        & fieldset + div {
            order: 3;
        }
        & img:last-child {
            display: block;
            order: 2;
            grid-row: span 2;
        }
    }
    footer {
        grid-area: footer;
        
        height: 8rem;
    }
}